.vscode
.DS_Store
*.pyc
__pycache__
drafts/
files/
labels/
logs/
models/
plots/
matlab/
gt3x/
.ipynb_checkpoints/
ACTIWAVE_ACTIGRAPH_MAPPING.hdf5
ACTIWAVE_TU7_CLEAN.hdf5

_build/
_static/
_templates/
reports/
.jupyter_cache
doctrees/
jupyter_execute/
docs/
